@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    /* Removes Chrome's yellow/blue fill */
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: 0 0 0px 1000px transparent inset;

    /* Keep your text color consistent */
    -webkit-text-fill-color: inherit;

    /* Keep caret color consistent */
    caret-color: inherit;

    /* Prevent Chrome from re-tinting after a moment */
    transition: background-color 9999s ease-out 0s;
  }
}

:root{
  --col-check: 40px;
  --col-item: 420px;   /* Item SKU / Description */
  --col-cost: 96px;    /* Unit Cost / Cost */
  --col-qty: 64px;     /* Qty */
  --col-total: 96px;   /* Total Cost / Total */
}

